
<div class="progress-bar-group">

    <div class="equipment bg-secondary text-white rounded">
        Blow Molding Machine
    </div>

    <div class="row progress-bar-container">
        <div class="progress-bar-name text-right col-4">
            Routine 1
        </div>
        <div class="col-6 progress-bar-bar">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="{{line}}-routine1" role="progressbar" 
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
        </div>
        <div class="progress-bar-reset col-2">
            <button ng-click="resetValue(0, 'routine1')" type="button" class="btn btn-warning btn-sm">Reset</button>
        </div>
    </div>
    
    <div class="row progress-bar-container">
        <div class="progress-bar-name text-right col-4">
            Routine 2
        </div>
        <div class="col-6 progress-bar-bar">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="{{line}}-routine2" role="progressbar" 
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
        </div>
        <div class="progress-bar-reset col-2">
            <button ng-click="resetValue(1, 'routine2')" type="button" class="btn btn-warning btn-sm">Reset</button>
        </div>
    </div>
    
    <div class="row progress-bar-container">
        <div class="progress-bar-name text-right col-4">
            Routine 3
        </div>
        <div class="col-6 progress-bar-bar">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="{{line}}-routine3" role="progressbar" 
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
        </div>
        <div class="progress-bar-reset col-2">
            <button ng-click="resetValue(2, 'routine3')" type="button" class="btn btn-warning btn-sm">Reset</button>
        </div>
    </div>

</div>

<div class="progress-bar-group">

    <div class="equipment bg-secondary text-white rounded">
        Grinder
    </div>

    <div class="row progress-bar-container">
        <div class="progress-bar-name text-right col-4">
            Routine 4
        </div>
        <div class="col-6 progress-bar-bar">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="{{line}}-routine4" role="progressbar" 
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
        </div>
        <div class="progress-bar-reset col-2">
            <button ng-click="resetValue(3, 'routine4')" type="button" class="btn btn-warning btn-sm">Reset</button>
        </div>
    </div>

</div>

<div class="progress-bar-group">

    <div class="equipment bg-secondary text-white rounded">
        Air Compressor
    </div>

    <div class="row progress-bar-container">
        <div class="progress-bar-name text-right col-4">
            Routine 5
        </div>
        <div class="col-6 progress-bar-bar">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="{{line}}-routine5" role="progressbar" 
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
        </div>
        <div class="progress-bar-reset col-2">
            <button ng-click="resetValue(4, 'routine5')" type="button" class="btn btn-warning btn-sm">Reset</button>
        </div>
    </div>

</div>